/* The <a> and a:hover tags set the site-wide behavior for all text links.*/
a { color: #e9e9e9; text-decoration: none; font-family: 'Futura', sans-serif; font-weight: bold;}
a:hover {color: gray;}

body{
    background-color: #222;
}
/*The cursor:pointer alerts the user that the <h1> can be clicked to reveal the drop-down.*/
h1{
    border-top: solid;
    font-family: Omar-Regular; 
	font-weight: normal; 
    font-style: normal;    
    font-size: 72px;
    color: #e9e9e9;
  text-decoration: none;
    border-color: #CCC;
    cursor:pointer;
}
/*The hover attribute set on the <h1> further reinforces that the <h1> can be clicked to reveal a drop-down.*/
h1:hover {
	color: gray;
}
h2, h3{
    color: #e9e9e9;
    font-family: Omar-Regular; 
	font-weight: normal; 
    font-style: normal;
}
/*The cursor:pointer attribute set on the <h6> reveals that it can be clicked to reveal another drop-down.*/
h6{ 
    color: #e9e9e9;
    cursor: pointer;
}
img {
	width: 235px;
	height: 304px;
}
p{
  color: #e9e9e9;
  font-family: 'Futura', sans-serif;
  line-height: 1.5em;
}
ul {
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}
li a:hover {color: gray;}
#footer {
    text-align: center;
}
#mainpage {
    text-align: center;
}

#leftcolumn, #rightcolumn {
    float: left;
    min-height: 100px;
    background-color: #222;
    border-bottom: solid;
    border-color: #CCC;
}
#leftcolumn {
     width: 50%;

}
#rightcolumn {
     width: 50%;
 }
 #qual{
 	margin-top: -10px;
 	margin-left: -55px;
 }
 #qual1, #qual2, #qual3 {
    color: #e9e9e9;
 	margin-bottom: -15px;
 }
#wrapper {
     width: 100%;
     margin: 0 auto;
     text-align: center;
}
#whocolumns {display: flex; justify-content:space-betwen;}
#doescolumns {display: flex; justify-content:space-betwen;}
#writing, #coding {
    font-family: Omar-Regular; 
	font-weight: normal; 
    font-style: normal;
    font-size: 48px;}
#github-projects{   
    font-family: Omar-Regular; 
	font-weight: normal; 
    font-style: normal;;
}
#writing:hover {color: gray;}
#coding:hover {color: gray;}
.portfolio-piece {
	display: inline-block;
	width: 33%;
}
.wrap {
    margin-left: 250px;
    padding: 0;
    overflow: none;
}
.item {
  height: 450px;
  width: 1000px;
}
